
#app{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 20%,
        #DBDBD2 20%,
        #DBDBD2 100%
      );
}

.my_container{
    width: calc(100% - 15rem);
    height: calc(100% - 2.5rem);
}

.my_rounded-container{
    width: 45px;
    height: 45px;
}

.my_little-rounded-container{
    width: 40px;
    height: 40px;
}

.my_option-button{
    width: 40px;
    height: 40px;
    background-color: #14443f;
}

#aside-nav,
#main-nav{
    width: 100%;
    height: 10%;
    background-color: #EAEAEA;
}

/* colori */

.bc-white{
    background-color: white;
}

/* colonna di sinistra */
aside{
    width: 35%;
}

aside > div{
    width: 100%;
    height: 90%;
}

aside > div #notification-reminder{
    height: 10%;
    background-color: #8EDAFC;
}

aside > div #chat-search{
    height: 8%;
}

aside > div #recent-chat{
    height: 82%;
    background-color: brown;
}


/* colonna di destra*/
main{
    width: 65%;
    background-color: #14443f;
}

main > div{
    width: 100%;
    height: 90%;
    background-color: rgb(70, 136, 194);
}

main > div div{
    width: 100%;
    height: 90%;
    background-color: rgb(148, 200, 242);
}

main > div #chat-input-bar{
    width: 100%;
    height: 10%;
    background-color: rgb(91, 194, 70);
}