
#app{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 20%,
        #DBDBD2 20%,
        #DBDBD2 100%
      );
}

.my_container{
    width: calc(100% - 15rem);
    height: calc(100% - 2.5rem);
}

main{
    width: 65%;
    background-color: #14443f;
}

aside{
    width: 35%;
    background-color: #9be7df;
}